[submodule "Libs/glfw"]
    path = Libs/glfw
    url = https://github.com/glfw/glfw.git

[submodule "Libs/glm"]
    path = Libs/glm
    url = https://github.com/DevAlgos/glm.git

[submodule "Libs/freetype"]
    path = Libs/freetype
    url = https://github.com/DevAlgos/freetype.git

[submodule "Libs/openal-soft"]
    path = Libs/openal-soft
    url = https://github.com/kcat/openal-soft.git

[submodule "Libs/libsndfile"]
    path = Libs/libsndfile
    url = https://github.com/libsndfile/libsndfile.git

